CONFIG_TARGET_amlogic=y
CONFIG_TARGET_amlogic_phicomm-n1=y
CONFIG_TARGET_amlogic_phicomm-n1_DEVICE_generic=y

# LuCI Web 管理
CONFIG_PACKAGE_luci=y

# 科学上网
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-passwall2=y

# 容器服务
CONFIG_PACKAGE_luci-app-docker=y

# 动态域名
CONFIG_PACKAGE_luci-app-ddns-go=y

# 网络加速
CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_kmod-ipt-offload=y
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_fullconenat=y

# DNS 广告过滤
CONFIG_PACKAGE_luci-app-adguardhome=y

# 远程终端
CONFIG_PACKAGE_luci-app-ttyd=y

# 美化界面
CONFIG_PACKAGE_luci-theme-argon=y
